<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KreaLabel.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <KreaLabel.My.MySettings>
            <setting name="Conexion" serializeAs="String">
                <value>Microsoft Jet</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DB" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Usuario" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Ruta_MDB" serializeAs="String">
                <value>DATA\data.mdb</value>
            </setting>
            <setting name="Autenticacion" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Usuario_MDB" serializeAs="String">
                <value />
            </setting>
            <setting name="Password_MDB" serializeAs="String">
                <value />
            </setting>
        </KreaLabel.My.MySettings>
    </userSettings>
</configuration>